*.iml
.gradle/
build/
app/build/
local.properties
.idea/
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/.vscode/mcp.json
/captures
.externalNativeBuild
.cxx

*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
release/
.kotlin/
app/release/
local.properties
